extends layout

block content
 
 .container
   h1= title
   .form-group
     label(for='name') 
     input#name.form-control(type='text', placeholder="Contact Name")
   .form-group
     label(for="price") 
     input#price.form-control(type='Number', placeholder="Price")
   .form-group
     label(for="description") 
     input#description.form-control(type='text', placeholder="Item Description")
     
   button.btn.btn-success#add Create
   a.btn.btn-danger(href='/') Back

block scripts
  script(src='js/addItem.js')
  
