extends layout

block content
  .container(style="color: darkblue; font-family: Times; font-size: 2.3;")
    h1=title
    a.btn.btn-default(href='/addItem') Add Item
    a.btn.btn-default(href='/itemSelect') Select Item
    
    table.table
      thead
        tr
          th.sortName Name
          th.sortPrice Price
          th.descrip Description
      tbody#itemList
        each item in items
          tr.itemRows
            - var displayPrice = "$" + item.price.toFixed(2)
            td.name=item.name
            td.price=displayPrice
            td.description=item.description
          
block scripts
  script(src='js/itemIndex.js')       
  
