doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    style.src(type='style/css', href='style.css').
  body
  body(background='https://i.ytimg.com/vi/ETDz5z46Loo/maxresdefault.jpg')

    .wrapper
      .row.descriptionRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The smoke hate
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The get respect hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The just chillin hat
      .row.imageRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='http://www.villagehatshop.com/photos/product/giant/4511390S74077/-/size-m.jpg'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://notlondonnews.files.wordpress.com/2015/02/pope-hat.jpg'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSmaXdZcPqmYbJ23qSc3Vvt6vzdJL8ckvCs9X6wVxfg21OkRCLEpA'> 
        .row.descriptionRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') Four for the price of one really expencive hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The get ladies hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The keep cool hat
      .row.imageRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQEH6AV4O0zy1gehrmh_PYeUgDYuX3KyriGfnul1-SVPw1mOcXv0g'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRz19zuOzFFY59gUviBbC0L7dxywPx97HQkpWedU7zpF2LPF4lA5A'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSJRXMNlXBAdwFRgKzoJa-AmpUjp__BqdrqQlwGQx-M9geJ9UJKnA'> 
        .row.descriptionRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The writers hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') Fargo hat?
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') The serious hat
      .row.imageRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ8Xh72dMmaorwJLlMvqbzwqM4aYgPthV0CMWSnYWiW6rys_gVn'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjzQz2yJ0_NIj_Ofd1jNCsMsgp3ER0ZelurQv3HrXCjSfFXSL5'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOtDYRLHC7yLAgl6GqC6OyaCFOOkMI16eJboX8fZb-Io8J-0LabA'> 
        .row.descriptionRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') Firestarter hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') Idiots hat
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; heigth: 8vw; width: 30vw') Old school hat
      .row.imageRow
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRvHPFs0Gc_xiE90EaEJGkHRb4V7PL-4fnzxAFfSgMqkFqvaO_H'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRDNCe-OnP6dkAmkG23xiXRmY0lcza9naz6-fJiua_u50ywIptu'> 
        .col-xs-4(style='font-family: times; color: #787878; font-size: 2.3vw; height: 20vw; width: 30vw; ') <input type="image" style=' height: 15vw; width: auto;'src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQHlBP9R1Mxio5Tz0GvtrdvVNVO1w9njlwmRYtgeLV-pZd_iBLf'> 
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='./public/js/main.js')
